{% extends 'base.html.twig' %}

{% block title %}Hello ContributorController!{% endblock %}

{% block body %}
    <h1>{{ organization }} public repositories contributors ({{ contributors|length}})</h1>
    <table>
        <thead>
            <th>Rank</th>
            <th>Avatar</th>
            <th>Pseudo</th>
            <th>Contribution</th>
        </thead>
        <tbody>
            {% for login, contributor in contributors %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><img src="{{ contributor.avatar }}" alt="profil picture" height="40" /></td>
                    <td><a href="{{ contributor.profile }}">{{ login }}</a></td>
                    <td>{{ contributor.contributions }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
